@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
  text-align: center;
}
#byme {
  text-align: center;
}
