@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

body {
  font-family: 'Kode Mono', sans-serif;
  background-color: black;
  color: green;
}

h1 {
  text-align: center;
}
#byme {
  text-align: center;
}
