@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2e8b57;
  color: white;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  background-color: black;
  padding: 16px;
  font-weight: bold;
}

nav ul li {
  display: inline;
  border-right: 2px solid #FFFFFF;
  padding-right: 16px;
  padding-left: 16px;
}

nav ul li: last-child {
  border-right: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.topnav li a:hover {
  border-bottom: 3px solid white;
}

.topnav li a.active {
  border-bottom: 3px solid white;
}

h1 a {
  color:white;
}
